body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0;
  display: flex;
  text-shadow: 2px 2px rgb(50, 50, 50);
}
main {
  background-color: rgb(0, 160, 160);
  height: 95vh;
  width: 50vw;
}
footer {
  background-image: linear-gradient(rgb(0, 160, 160), rgb(0, 130, 130));
  align-self: center;
  height: 5vh;
  line-height: 5vh;
  width: 50vw;
  color: rgb(220, 220, 220);
}
.backbtn,
.nextbtn {
  width: 25vw;
  height: 100vh;
  justify-content: center;
}
.fas {
  font-size: 5em;
  color: rgb(50, 50, 50);
}
.fas:hover {
  color: white;
  color: rgb(100, 100, 100);
}
h1,
h2,
h3 {
  margin: 0em;
  padding: 0.5em;
}
a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
img {
  width: 50vw;
  height: 70vh;
}
