.exercises {
  display: grid;
  grid-template-columns: repeat(2, calc(25vw - 0.1em));
  grid-template-rows: repeat(2, 35vh);
  gap: 0.1em;
}
.exercises img {
  height: 35vh;
  width: 100%;
  border: 0.1em black solid;
}
